.my-img-drawer {
    height: 40px;
}

.my-cont {
    display: flex;
}

.count {
    padding-top: 12px;
}

.my-nav-list {
    display: grid;
    align-items: center;
}

.checkout-btn {
    width: 40%;
    left: 30%;
}

.fav{
    margin-left: auto
}